<link rel="stylesheet" href="/styles/userlogin.css">
<section>
  <div class="signin">

    <div class="content">

      <h2>Sign In</h2>
      {{!-- <h4 class="text-danger "><strong>{{msg}}</strong></h4> --}}
      <input type="text" id="message" value="{{{message}}}" name="message" hidden>
      <div class="form">
        <form action="/user/register" method="post">
          <div class="inputBox mb-3">

            <input id="username" name="username" type="text"/>
            <i>Username</i>

          </div>

          <div class="inputBox mb-3">

            <input id="password" name="password" type="password"/>
            <i>Password</i>

          </div>

          <div class="inputBox mb-3">

            <input id="confirmPassword" name="confirmPassword" type="password"/>
            <i>Confirm Password</i>

          </div>

          <div class="links mb-3">
            <a href="#">Forgot Password</a>
            <a href="/user/login">LogIn</a>

          </div>

          <div class="inputBox mb-3">

            <input id="loginBtn" type="submit" value="Sign in" />

          </div>
        </form>
      </div>

    </div>

  </div>

</section>

<script>
  document.addEventListener('DOMContentLoaded',()=>{
  document.querySelector('form').addEventListener('submit',formValidate);
})

const message = document.getElementById('message').value;

if(message){
    Swal.fire({
      icon: 'info',
      title: 'Oops...',
      text: message
    });
}

  function formValidate(e){
    console.log('asdfsdfsdf')
    e.preventDefault();

    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('confirmPassword').value;

    if(username == '' || password == '' || confirmPassword == ''){
      console.log('sdfsdfsdfsdfsdfsdfsdfsdfsf')
      Swal.fire('All fields are require !!');
      return false;
    }else if(password != confirmPassword){
      Swal.fire('Password unmatched !!');
      return false;
    }
    e.target.submit();
    console.log('validate-register')
    return true;
  }
  
</script>
